.aboutWorkContainer{
    background-color: hotpink;

}
.aboutWork{
background-color: aqua;
}
.takeMe{
    background-color: aquamarine;
    height: 150px;
    display:flex;
    flex-direction: column;
    border: 1px solid black;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}
.title{
    text-align: center;
}
button {
    width: 100px;

}