.myProjectBlock{
    background-color: #0f172a;
}


.myProjects{
    background-color: #0f172a;
    display:flex;
    flex-direction: column;
}
.projects{
    background-color: #0f172a;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  flex-wrap: wrap;
    width: 100%;
    margin-bottom: 90px;
}
.projectTitle h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    color: white;
    margin: 30px 0 15px;
    letter-spacing: 4px;
    font-size: 36px;
    line-height: 1.2;
    position: relative;
}

@media screen and (max-width:1004px){
.projects {

    justify-content: center;



}

}
