.myProjectBlock{
    background-color: darkslategrey;
}

.projectTitle{
    text-align: center;
background-color: greenyellow;
    width: max-content;
}
.myProjects{
    background-color: green;
    border: 1px solid palevioletred;
    display:flex;
    flex-direction: column;
}
.projects{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}