.header{
    height: 80px;
    background-color: #0e0f1e;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 3;
    @media screen and (max-width: 370px) {
        width: 350px;
    }
}