.header{
    height: 65px;
    background-color: #0e0f1e;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    position: fixed;
    width: 100%;
    z-index: 3;
    @media screen and (max-width: 370px) {
        width: 350px;
    }
}