.contactsContainer{
    background-color: burlywood;
    height: max-content;
}
.contacts{
background-color: aqua;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.formContainer{
    width: 80%;
    background-color: blueviolet;
    height: max-content;
}
.form{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    border: 2px solid black;

}
@media screen and (min-width: 600px){
    .formContainer {
        width: 384px;
    }
}