.mainBlock {
    background-color: gold;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.text {
    width: 300px;
    background-color: cadetblue;

}

.photo {
    width: 250px;
    height: 400px;
    background-color: blue;
}