@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixins";

.project {
  border: 1px solid $ItemsBorderColor;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  min-height: max-content;
  flex-wrap: wrap;
  margin-top: 17px;
  background-color: $bgSecondColor;
  padding: 15px;

  .MyProjectImage {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.5;
      .wrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;



      }
    }
    .button {
      min-width: 120px;
      min-height: 60px;
      font-family: 'Nunito', sans-serif;
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 1.3px;
      font-weight: 700;
      color: #313133;
      background: #4FD1C5;
      background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
      border: none;
      border-radius: 1000px;
      box-shadow: 12px 12px 24px rgba(79,209,197,.64);
      transition: all 0.3s ease-in-out 0s;
      cursor: pointer;
      outline: none;
      position: relative;
      padding: 10px;
    }

    button::before {
      content: '';
      border-radius: 1000px;
      min-width: calc(120px + 12px);
      min-height: calc(60px + 12px);
      border: 6px solid $greetingsAndButtonColor;
      box-shadow: 0 0 60px rgba(0,255,203,.64);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all .3s ease-in-out 0s;
    }

    .button:hover, .button:focus {
      color: #313133;
      transform: translateY(-6px);
    }

    button:hover::before, button:focus::before {
      opacity: 1;
    }

    button::after {
      content: '';
      width: 30px; height: 30px;
      border-radius: 100%;
      border: 6px solid $greetingsAndButtonColor;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: ring 1.5s infinite;
    }

    button:hover::after, button:focus::after {
      animation: none;
      display: none;
    }

    @keyframes ring {
      0% {
        width: 30px;
        height: 30px;
        opacity: 1;
      }
      100% {
        width: 300px;
        height: 300px;
        opacity: 0;
      }
    }

  }



  .projectInfo {
    margin-top: 10px;

    .projectTitle {
      @include text (('Radio Canada', sans-serif),18px,1.5 );
      width: 100%;
      text-align: start;
      background-color: #162033;
      font-weight: 400;

    }

    .projectDiscription {

      @include text((Radio Canada, sans-serif),16px, 1.6);
      font-family: Radio Canada, sans-serif;
      font-weight: 400;
      background-color: #162033;
      box-sizing: border-box;
    }
  }
}









