@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixins";

.project {
  border: 1px solid $ItemsBorderColor;
  border-radius: 10px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 350px;
  flex-wrap: wrap;
  margin-top: 17px;
  color:white;
  background-color: $bgSecondColor;
  padding: 15px;
  width: 300px;


  .MyProjectImage {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.5;

    }

  .projectInfo {
    margin-top: 10px;

    .projectTitle {
      @include text (('Radio Canada', sans-serif),18px,1.5 );

      text-align: start;
      background-color: #162033;
      font-weight: 400;

    }

    .projectDiscription {
      @include text((Radio Canada, sans-serif),16px, 1.6);
      font-family: Radio Canada, sans-serif;
      font-weight: 400;
      background-color: #162033;
      box-sizing: border-box;
    }
  }
}}









