.acceptContainer{
    width: 80%;
    background-color: gold;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.acceptBlock{
    height: 30vh;
    width: 100%;
    flex-wrap: wrap;
    background-color: cadetblue;
}