@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.footerContainer {
    background-color: $bgColor;
    height: max-content;
    .footer {
    background-color: $bgColor;
    flex-direction: column;
    justify-content: space-evenly;
}
    .items {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: row;
        justify-content: space-evenly;
        min-width: 70%;
        .item{
            height:45px;
            width: 45px;
            background-color: $greetingsAndButtonColor;
        }
    }
 .footerText{
     margin-top: 17px;
     @include text (('Radio Canada', sans-serif),21px,1.5 );
     letter-spacing: 1.2px;
 }
}



