.footerContainer {
    background-color: beige;
    height: 50vh;
}

.footer {
    background-color: aqua;
    flex-direction: column;
    justify-content: space-around;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 70%;

}
.item{
    height:45px;
    width: 45px;
    background-color: blueviolet;
}